/* general */
@font-face { font-family: 'Segoe UI semibold'; src: url('font/seguisym.ttf') format('truetype');font-weight: normal;font-style: normal;}
/*body {font-family: 'Segoe UI' , sans-serif;font-size: 14px; text-align: center; background: #e6eff3 url("images/header_bg.png") 0 0 repeat-x; color: #596d80;}*/
.left {float: left}
.right {float: right}
.center {text-align: center}
.action,.general_action {text-align: right;}
.top-space-160 {margin-top: 160px}
.top-space-140 {margin-top: 140px}
.top-space-120 {margin-top: 120px}
.top-space-100 {margin-top: 100px}
.top-space-80 {margin-top: 80px}
.top-space-60 {margin-top: 60px}
.top-space-50 {margin-top: 50px}
.top-space-40 {margin-top: 40px;}
.top-space-30 {margin-top: 30px;}
.top-space-20 {margin-top: 20px;}
.top-space-10 {margin-top: 10px;}
.top-inset-200 {padding-top: 200px;}
.top-inset-190 {padding-top: 190px;}
.top-inset-180 {padding-top: 180px;}
.top-inset-160 {padding-top: 160px;}
.top-inset-140 {padding-top: 140px;}
.top-inset-130 {padding-top: 130px;}
.top-inset-120 {padding-top: 120px;}
.top-inset-100 {padding-top: 100px;}
.top-inset-80 {padding-top: 80px;}
.top-inset-70 {padding-top: 70px;}
.top-inset-60 {padding-top: 60px;}
.top-inset-50 {padding-top: 50px;}
.top-inset-40 {padding-top: 40px;}
.top-inset-30 {padding-top: 30px;}
.top-inset-20 {padding-top: 20px;}
.top-inset-10 {padding-top: 10px;}
.right-space-50 {margin-right: 50px;}
.right-space-40 {margin-right: 40px;}
.right-space-30 {margin-right: 30px;}
.right-space-25 {margin-right: 25px;}
.right-space-20 {margin-right: 20px;}
.right-space-15 {margin-right: 15px;}
.right-space-10 {margin-right: 10px;}
.right-space-5  {margin-right: 5px;}
.marine {color: #4cffff}
.stepContainer .inherit h3, .stepContainer article, header, form .two, form .row, form .three,
.side_holder h4, .steps_group { text-align: left;}
*:focus {outline: none;}
a {color: #4393dc;}
a:hover {text-decoration: none}
.logo {margin: 6px;}

h2  {
    font-size: 25px;
    font-weight: normal;
    padding-top: 15px;
}
h2.light {color: #8fa7bd;}
h2.upper {text-transform: uppercase;}
h3  {
    font-weight: normal;
    font-size: 20px;
}
h3 span {
    font-family: 'Segoe UI semibold',sans-serif;
    font-weight: bold;
}
header {
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
section {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto 10px auto;
    overflow: hidden;
    padding: 0 70px;
}
.stepContainer .inherit {
    width: 805px;
    margin: 0 auto;
}
.stepContainer h3.inherit {
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
}

label.for_button {
    font-size: 11px;
    color: #abb3ba;
    padding-right: 0
}
.for_checkbox {
    font-size: 20px;
    margin-left: 5px;
}
.step_label {
    font-size: 25px;
}

/* icons */
i.left_arrow {
    display: inline-block;
    background: url("images/arrows.png") 0 0 no-repeat;
    width: 53px;
    height: 38px;
    position: absolute;
    left: -60px;
    top:40%;
}
i.right_arrow {
    display: inline-block;
    background: url("images/arrows.png") -80px 0 no-repeat;
    width: 53px;
    height: 38px;
    position: absolute;
    right: -60px;
    top: 40%;
}
i.home {
    display: inline-block;
    background: url("images/top_menu_icons.png") 0 0 no-repeat;
    width: 19px;
    height: 20px;
    vertical-align: text-bottom;
}
i.exit {
    display: inline-block;
    background: url("images/top_menu_icons.png") -25px 0 no-repeat;
    width: 19px;
    height: 20px;
    vertical-align: middle;
}
i.advance {
    display: inline-block;
    background: url("images/top_menu_icons.png") -50px 0 no-repeat;
    width: 29px;
    height: 20px;
    vertical-align: top;
}
i.info {
    display: inline-block;
    background: url("images/info.png") 0 0 no-repeat;
    width: 25px;
    height: 25px;
    vertical-align: top;
    cursor: help;
    position: absolute;
    right: 10px;
    top: 10px;
}
i.info.light{
    background-image: url("images/info_light.png");
}
i.factory {
    display: inline-block;
    background: url("images/side-sprite.png") 0 0 no-repeat;
    width: 59px;
    height: 47px;
    vertical-align: top;
}
i.key {
    display: inline-block;
    background: url("images/side-sprite.png") -80px 0 no-repeat;
    width: 53px;
    height: 47px;
    vertical-align: top;
}
i.report {
    display: inline-block;
    background: url("images/side-sprite.png") -160px 0 no-repeat;
    width: 60px;
    height: 47px;
    vertical-align: top;
}
i.mail {
    display: inline-block;
    background: url("images/side-sprite.png") -230px 0 no-repeat;
    width: 63px;
    height: 60px;
    vertical-align: top;
}
i.letter {
    display: inline-block;
    background: url("images/side-sprite.png") -300px 0 no-repeat;
    width: 45px;
    height: 45px;
    vertical-align: top;
}
i.book {
    display: inline-block;
    background: url("images/side-sprite.png") -360px 0 no-repeat;
    width: 30px;
    height: 45px;
    vertical-align: top;
}
.left_arrow_colored {
    display: inline-block;
    background: url("images/arrows_colored.png") 0 0 no-repeat;
    width: 27px;
    height: 44px;
    font-size: 1px;
}
.left_arrow_colored:hover{
    background: url("images/arrows_colored.png") 0 -50px no-repeat;
}
.right_arrow_colored {
    display: inline-block;
    background: url("images/arrows_colored.png") -40px 0 no-repeat;
    width: 27px;
    height: 44px;
    font-size: 1px;
}
.right_arrow_colored:hover{
    background: url("images/arrows_colored.png") -40px -50px no-repeat;
}
.arrow_colored {
    background: url("images/big_arrows_colored.png") 0 0 no-repeat;
    font: 14px/62px  sans-serif;
    display: inline-block;
    width: 34px;
    height: 64px;
    color: #ffffff;
    padding-right: 6px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: -2px;
    margin-left: 20px;
    text-align: center;
}
.arrow_colored:hover {
    background-position: 0 -70px;
}

/* bottom menu */
nav.bottom {
    background-color: #596d80;
    padding: 9px;
    overflow: hidden;
    text-align: center;
}
nav.bottom a{
    color: #ffffff;
    font-size: 10px;
    padding-top: 32px;
    background-repeat: no-repeat;
    background-position: center top;
    display: inline-block;
    margin-right: 50px;
    width: 33px;
    text-decoration: none;
}
nav.bottom a:hover {
    text-decoration: underline;
}
nav.bottom a:last-child {
    margin-right: 0;
}
nav.bottom a.pricing{
    background-image: url("images/pricing.png");
}
nav.bottom a.logout{
    background-image: url("images/logout.png");
}
nav.bottom a.settings{
    background-image: url("images/settings.png");
}
nav.bottom a.tools{
    background-image: url("images/tools.png");
}

/* wizard steps general */
table.score {
    width: 280px;
    margin: 50px auto 70px auto ;
}
table.score.long {
   width: 600px;
   margin: 0 auto 10px auto;
}
table.score td,table.score h3{
    vertical-align: bottom;
    text-align: left;
}
table.score td:first-child{
    vertical-align: middle;
    padding-right: 10px;
}
table.score td a {
    font-size: 25px;
    display: inline-block;
}
table.score.long tr td,table.score.long tr td h3 {
    vertical-align: middle;
    font-size: 25px;
}
table.score.long tr td {
    min-width: 50px;
}
.policy {
    font-size: 16px;
    color: #596d80;
    padding: 40px;
}
.history {
    list-style: none;
    text-align: left;
}
/*.history li {
    display: block;
    padding: 0 80px 20px 20px;
    background: url("images/breadcrumpts.png") -38px 4px no-repeat;
    position: relative;
}
.history li a.rollback {
    color: #4cffff;
    position: absolute;
    right: 0;
    bottom: 3px;
}
    */
/* horizontal wizard */
.JLWizard .stepContainer, .JLWizard.wizard_show_bg.wizard_nav_hidden .stepContainer{
    display:block;
    position: relative;
    clear:both;
    /*border: 2px solid #91a7bd;*/
    background-color: #eee;
    margin-bottom: 7px;
}
.JLWizard.wizard_nav_hidden .stepContainer {
    border: 0;
    background: none;
}
.wizard_vertical .stepContent {
    height: 410px;
}
.JLWizard.wizard_vertical .stepContainer{
    margin-left: 20%;
}

/* thaivh3*/
.JLWizard.wizard_vertical .form-control{
    height: 30px;
    
    
}

/**/
.JLWizard.wizard_vertical.wizard_nav_hidden .stepContainer{
    margin-left: 0;
}
.JLWizard .stepContainer .content,.JLWizard.wizard_show_bg.wizard_nav_hidden .stepContainer .content {
    display:block;
    margin: 0;
    padding: 10px;
    overflow: visible;
    z-index: 88;
    clear: both;
    /*min-height: 460px;*/
}
.JLWizard.wizard_nav_hidden .stepContainer .content {
    padding: 0;
}
.stepContent {
    height: 420px;
}
article {
    color: #aab2b9;
    font-size: 18px;
}
.JLWizard nav.top_bar {
    position: relative;
    list-style: none;
    /*margin: 7px 0;*/
    clear: both;
    background: #be1128;
    overflow: hidden;
    padding: 0 6px;
    height: 33px;
    font-size: 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.JLWizard nav.top_bar > .nav a {
    display:inline-block;
    margin:0;
    padding: 8px 3px;
    width:230px;
    font-size: 14px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    background: #be1128;
    position: relative;
}
.JLWizard nav.top_bar > .nav a.selected, .JLWizard nav.top_bar > .nav a.dark_blue.selected  {
    background: #ffffff;
    color: #596d80;
}
.JLWizard nav.top_bar > .nav a.dark_blue {
    background: #2e6ea9;
}
.JLWizard nav.top_bar > .nav a:after {
    content: " ";
    display: block;
    width: 11px;
    height: 30px;
    background: url("images/lbc.png") 0 0 no-repeat;
    position: absolute;
    right: -11px;
    top: 1px;
    z-index: 1;
}
.JLWizard nav.top_bar > .nav a.dark_blue:after {
    background-image: url("images/dbc.png");
}
.JLWizard nav.top_bar > .nav a.selected:after, .JLWizard nav.top_bar > .nav a.dark_blue.selected:after {
    background-image: url("images/wc.png");
}
.JLWizard nav.top_bar > .nav a.last:after {
    background-image: none;
}
.JLWizard nav.top_bar .title {
    color: #ffffff;
    font-size: 14px;
    padding-top: 5px;
    display: inline-block;
}
.JLWizard nav.top_bar > a {
    padding-top: 5px;
    font-size: 14px;
}
.JLWizard nav.top_bar > a:first-child {
    float: left;
}
.JLWizard nav.top_bar > a:last-child {
     float: right;
}


/* vertical vizard */
.wizard_vertical nav.top_bar {
    text-align: center;
}
a.information  {
    background: url("images/info_icon.png") 0 bottom no-repeat;
}
a.finish  {
    background: url("images/flag.png") 0 bottom no-repeat;
}
a.copy  {
    background: url("images/copy.png") 0 bottom no-repeat;
}
a.contact  {
    background: url("images/contact.png") 0 bottom no-repeat;
}
.anchors.left {
    position: absolute;
    width: 20%;
    left: 0;
}
.anchors.left a {
    background-color: #285f91;
    color: #ffffff;
    display: block;
    margin-bottom: 10px;
    margin-top: 1px;
    padding: 10px;
    text-align: left;
    height: 93px;
    text-decoration: none;
    position: relative;
    margin-right: 10px;
}
.anchors.left a span {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.anchors.left a:last-child {
    margin-bottom: 0;
}
.anchors.left a:hover, .anchors.left a.selected{
    background-color: #df7718;
}

/* side holder */
.side_holder {
    color: #ffffff;
    min-height: 460px;
}
.side_holder, .side_holder > div {
    position: relative;
}
.side_holder.three > div, .side_holder.two > div, .side_holder.one_two > div {
    float: left;
}
.side_holder i.info {
    top: 12px;
    right: 22px;
}
.side_holder .last  i.info {
    right: 12px;
}
.side_holder.three > div {
    width: 33%;
}
.side_holder.one_two > div {
    width: 16%;
}
.side_holder.one_two > div.center, .side_holder.one_two > div.last {
    width: 42%;
}
.side_holder.two > div {
    width: 50%;
}
.side_holder > div.center {
    width: 34%;
}
.side_holder > div > div {
    padding: 15px;
    margin-right: 10px;
    background: #285f91;
}
.side_holder > .last > div {
    margin-right: 0;
}
.side_holder.two > div:not(.last) > div, .side_holder > .center > div {
    background-color: #4393dc;
}
.side_holder.three > div:hover > div, .side_holder.one_two > div:hover > div {
    background-color: #df7718;
}
.side_holder .stepContent  {
    height: 374px;
}
.side_holder h4 {
    font-size: 18px;
    font-family: 'Segoe UI semibold', sans-serif;
}
.side_holder .general_action {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.side_holder .general_action a{
    /*margin-top: 28px;*/
    /*display: inline-block;*/
}
span.holder_name {
    font-size: 12px !important;
    display: inline-block;
    padding-top: 2px;
    text-align: left;
    margin-bottom: 0
}

.general_action .activity {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.short_info {
    position: relative;
    float: left;
    margin-right: 50px;
    height: 100%;
}
.short_info > span {
    position: absolute;
    bottom: 0;
    width: 110px;
    text-align: left
}
.short_info > table td{
    text-align: left;
    vertical-align: bottom;
}
.short_info > table td:last-child{
    width: 160px;
}



.side_holder .general_action {
    font-size: 12px;
}
.side_holder .general_action i {
    margin-right: 10px;
    vertical-align: bottom;
}
.side_holder .general_action a {
    font-size: 16px;
}
.side_holder .general_action span {
    font-size: 18px;
    font-family: 'Segoe UI semibold', sans-serif;
}

#letter {
    cursor: pointer
}

a.disabled {
    pointer-events: none;
    /*cursor: default;
    opacity: 1 !important;*/
}